html, body {
    width:100%;
    height:100%;
    background:#F0FFFF;
    color: #FFF;
    background: #404040;
    color: #f8f8f8;
    font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

h1{
    color: #FFF;
    text-align: center;
    margin-top: 50px;
}

#map{
    height: 60%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 75px;
   
}

#instructions{
    width: 100%;
    margin-top: 100px;
    text-align: center;
}


#first{
    padding-top: 15px;
}

li{
    text-align: justify;
    margin: 0 auto;
    width: 30em;
 
}

  